.general-container {
  width: 70%;
  margin: 5% auto;
  text-align: center;
}

.mat-form-field {
  width: 100%;
}

mat-paginator {
  margin-top: 3%;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
  text-align: left !important;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
  text-align: left !important;
}

table {
  width: 100%;
}

.mat-cell:nth-child(2) {
  font-style: italic;
}

.logo-container {
  margin: auto;
}

.spin-container {
  margin: auto;
  padding-top: 30px;
}

.uploader-status ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: black;
}

#logo {
  max-width: 100%;
  height: 200px;
}

@media (max-width: 900px) {
  .generated-table {
    display: table;
  }

  .mat-cell:nth-child(1) {
    font-size: 0.8rem;
    padding: 4%;
  }

  .mat-cell:nth-child(2) {
    font-size: 0.8rem;
    font-style: italic;
    text-align: right;
  }
}
