<form [formGroup]="form">
<div class="logo-container">
</div>
<div class="general-container">
  <img src="../../../assets/university-svgrepo-com.svg" alt="" id="logo" (click)="clearData()">
  <div class="uploader-status">
    <mat-spinner *ngIf="isLoading" class="spin-container"></mat-spinner>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Country</mat-label>
    <mat-select #countryName (selectionChange)="getUniversities()" id="dropdown-menu" formControlName="dropdown">
      <mat-option *ngFor="let country of countries" [value]="country.name.common" >
        {{country.name.common}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div [hidden]="hidePaginator">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns" class="generated-table">
        <th mat-header-cell *matHeaderCellDef>{{ column === 'name' ? 'Name' : 'Website' }}</th>
        <td mat-cell *matCellDef="let emp" (click)="visitUniversityWebsiteOnClick(emp.web_pages)"
            matTooltip="Click to visit {{emp.name}} website"
        >{{ emp[column] }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let emprow; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      #paginator
      [pageSizeOptions]="[10, 20, 30]"
      showFirstLastButtons
    ></mat-paginator>
  </div>

  <div [hidden]="welcome">
    <p>{{ elseVariable }}</p>
  </div>

  <div [hidden]="noResults">
    <p>Your search returned no results</p>
  </div>
</div>
</form>
