.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  justify-content: center;
}

#title {
  font-size: 2rem;
  font-weight: bolder;
}

@media (max-width: 900px) {
  #title {
    font-size: 1.2rem;
  }
}
